# Ignore autosaves and backups
backups/*
autosaves/*
auto-save-list/*

# Ignore elpa files
elpa/*

# Ignore emacs desktop files
.emacs.desktop*

# Ignore project files
projectile-bookmarks.eld
projectile.cache
